<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757110751567-4ji21lmvj3apbd5k7lvgp9cu1gt51rua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757110751567-4ji21lmvj3apbd5k7lvgp9cu1gt51rua</string>
	<key>API_KEY</key>
	<string>AIzaSyBh9_Z9JydkE7Lmuuk7LGXs_YmiR8SgXXM</string>
	<key>GCM_SENDER_ID</key>
	<string>757110751567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginPage</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-f52cd</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-f52cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757110751567:ios:c2551e45b1a598ac33c53a</string>
</dict>
</plist>